
.container3{
  display:flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

body{
  background-color: rgb(240, 238, 238);
}
.containerrr{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* justify-content: space-between; */
  padding-left: 15%;
  padding-right: 15%;
}
.container1{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
/* .container2{
  display:flex;
  flex-direction: row;
} */


.section-title1{
  margin-top: 8%;
}

.section-title2{
  margin-top: 8%;
}

.section-title3{
  margin-top: 15%;
}




.addbutton{
  /* margin-top: 50px; */
  /* margin-left: 310px; */
    background-color: #fbb23d;
    color: rgb(37, 35, 35);
    width:250px;
    height: 50px;
    /* border:none; */
    border-radius: 25px;
    font-size: 18px;
}

.addbutton:hover{
  background-color: rgb(37, 35, 35);
  color: #fbb23d;
    
}

/* .addbutton1{
    background-color: rgb(63, 58, 58);
    color: #fbb23d;
    width:250px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
} */
.addbutton1{
  background-color: rgb(36, 35, 35);
  color: white;
  width:150px;
  height: 150px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s linear;
}



.addbutton1:hover{
  background-color: white;
  color: #fbb23d;
    
}

.addbutton2{
  /* margin-top: 50px; */
  /* margin-left: 310px; */
    background-color: white;
    color: rgb(36, 35, 35);
    width:250px;
    height: 50px;
    /* border:none; */
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    transition: all 0.5s linear;
}

.addbutton2:hover{
  background-color: #fbb23d;
  color: white;
    
}

.addbutton3{
  background-color: #fbb23d;
  color: white;
  width:100px;
  height: 100px;
  /* border-radius: 25px; */
  border: none;
  font-size: 18px;
  border-radius: 50%;
  padding: 1%;
  transition: all 0.5s linear;
}


.addbutton3:hover{
  background-color: rgb(32, 32, 32);
  color: #fbb23d;  
}

.buttonscontainer{
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
}

/* .form-group{
  width: 50%;
} */

.form-control{
  width: 50%;
}

.btn-width{
  width: 20%;
  background-color: white;
}

.form-control-login{
  width: 25%;
}
.padding{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.btnn1{
  background-color: #fbb23d;
  color: white;
  margin-left: 350%;
}
.btnn2{
  background-color: black;
  color: white;
  margin-left: 300%;
}

@media only screen and (max-width: 600px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }

  .container2{
    display: flex;
    flex-direction: column;
  }
  .cancellabel{
    margin-right: 20%;
  }
 
}