@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

.addbutton{
  /* margin-top: 50px; */
  /* margin-left: 310px; */
    background-color: #fbb23d;
    color: rgb(37, 35, 35);
    width:250px;
    height: 50px;
    border:none;
    border-radius: 25px;
    font-size: 18px;
}

.buttonscontainer{
  display: flex;
  justify-content: center;
}
