
.container{
  display:flex;
  flex-direction: column;
  width: 50%;

}

.container1{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container2{
  display:flex;
  flex-direction: row;
}



.addbutton{
  /* margin-top: 50px; */
  /* margin-left: 310px; */
    background-color: #fbb23d;
    color: rgb(37, 35, 35);
    width:250px;
    height: 50px;
    /* border:none; */
    border-radius: 25px;
    font-size: 18px;
}

.addbutton:hover{
  background-color: rgb(37, 35, 35);
  color: #fbb23d;
    
}

.addbutton1{
    background-color: rgb(63, 58, 58);
    color: #fbb23d;
    width:250px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
}

.addbutton1:hover{
  background-color: #fbb23d;
  color: rgb(37, 35, 35);
    
}

.addbutton2{
  /* margin-top: 50px; */
  /* margin-left: 310px; */
    background-color: rgb(63, 58, 58);
    color: white;
    width:250px;
    height: 50px;
    /* border:none; */
    border-radius: 25px;
    font-size: 18px;
    justify-content: center;
}

.addbutton2:hover{
  background-color: #fbb23d;
  color: white;
    
}

.buttonscontainer{
  display: flex;
  justify-content: center;
}

.form-group{
  width: 50%;
}

.form-control{
  width: 50%;
}

.btn{
  width: 20%;
}

.form-control-login{
  width: 25%;
}

@media only screen and (max-width: 600px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }

  .container2{
    display: flex;
    flex-direction: column;
  }
  .cancellabel{
    margin-right: 20%;
  }
 
}